@import "../../../styles/colours.css";

.themeSwitch {
  position: absolute;
  height: 30px;
  left: 25px;
}

.icon {
  position: absolute;
  height: 30px;
  right: 25px;
}

.burgerMenuHide {
  display: none;
}

.crossIcon {
  fill: var(--text-colour);
  opacity: 0;
  z-index: 10;

  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.crossIconShow {
  opacity: 1;
}

.menuContainer {
  background-color: transparent;

  height: 100vh;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

@keyframes open {
  0% {
    transform: translate(100vw);
    background-color: transparent;
  }

  50% {
    transform: translate(0);
    background-color: transparent;
  }

  100% {
    transform: translate(0);
    background: rgba(0,0,0,.288);
  }
}

@keyframes close {
  0% {
    transform: translate(0);
    background: rgba(0,0,0,.288);
  }

  50% {
    transform: translate(0);
    background-color: transparent;
  }

  100% {
    transform: translate(100vw);
    background-color: transparent;
  }
}

.menuOpen {
  animation-name: open;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.menuClose {
  animation-name: close;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.menuHideFirstRender {
  display: none;
}

.menuContent {
  width: 50%;
  height: 100%;
  padding: 50px 0px;
  background-color: var(--background-colour);
  box-shadow: 0px 0px 8px black;

  display: flex;
  flex-direction: column;
  opacity: 1;
}

.menuList {
  width: 100%;
  padding: 0px;
  margin: 20px 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-start;
}

.menuItem {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--side-menu-focus);

    & .link {
      color: var(--text-colour-inverse);
    }
  }

  & .link {
    color: var(--text-colour);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;
  }
}

.menuItemMargin {
  margin: 20px 25px 20px 20px;
}

@media (min-width: 768px) {
  .menuContainer, .icon, .crossIcon, .themeSwitch {
    display: none;
  }
}
